.btn {
  cursor: pointer;
  padding: 5px 10px;
  min-width: 60px;
  background: #00cacd;
  box-shadow: inset 0px 0px 10px 0px rgba(27, 27, 39, 0.6);
  border: 1px solid #1b1b27;
  border-radius: 5px;
  color: #111;
  font-size: 17px;
  font-weight: bold;
  transition: .2s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: #00cacd !important;
  }

  &:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #00cacd;
  }
}
